@model HRIS.General.Model.UserManagement.RolesModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Details</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-6">
                <label>Role Id</label>
                @Html.HiddenFor(model => model.id, new { Class = "form-control" })
                @Html.TextBoxFor(model => model.role_id, new { Class = "form-control", disabled = "true" })
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Desc</label>
                    @Html.TextBoxFor(model => model.role_desc, new { Class = "form-control", disabled = "true" })
                </div>
            </div>
        </div>
      
        <br />
        <div class="row">
            <div class="col-6">
                @*<button type="submit" class="btn btn-success">Save</button>*@
                <a href="@Url.Action("Index","Role")" class="btn btn-warning">Back To List</a>
            </div>
        </div>

    </div>
</div>





@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
}


