
@{
    ViewData["Title"] = "Time Calculation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
            TableManageResponsive.init();
        });
    </script>
}

